<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>cloudtestServlet</servlet-name>
    <servlet-class>org.unicode.cldr.surveytool.server.CloudTestServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cloudtestServlet</servlet-name>
    <url-pattern>/cldrcloud/cloudtest</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SurveyTool.html</welcome-file>
    <welcome-file>VettingView.jsp</welcome-file>
    <welcome-file>CLDRCloud.html</welcome-file>
  </welcome-file-list>

</web-app>
